<nav class="navbar navbar-expand-lg  navbar-light " style="background-color: #616161;">

  <div class="container-fluid">
 <a [routerLink]="['/']" class="navbar-brand">Cost managament app</a>

    <ul class="navbar-nav">
      <li *ngIf="!isLoggedIn" class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/login']">
         Login
        </a>
      </li>
      <!-- Avatar -->
      <li mdbDropdown class="nav-item dropstart  " *ngIf="isLoggedIn">
        <a
          class="nav-link dropdown-toggle   d-flex align-items-center"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
        </a>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="dropdown-item" [routerLink]="['/calendar']">Mój kalendarz</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="dropdown-item" [routerLink]="['/adminPanel']">Panel administracyjny</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a  class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>